<!DOCTYPE html>
<html lang="en">
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111111;
}
</style>
</head>
<body>
<ul>
  <li><a href="">Home</a></li>
  <li><a href="/category">Generes</a></li>
  <li><a href="/logout">Logout</a></li>
</ul>

<h1>{{title}}</h1>

{% for obj in object_list %}

<a href='{{ obj.get_absolute_url }}'>{{ obj.title }}</a><br>
{{ obj.content }}<br>
{{ obj.category }}<br>
{{ obj.timestamp }}<br>
{{ obj.updated }}<br>
{{ obj.id }}<br>

{% endfor %}
</body>
</html>